Repository 9oormthon-univ/2024_BEOTKKOTTHON_TEAM_27_FE, pull requests merged in 2024-08, with the labels that each got.

#62 [포스트 공유] RN 이용으로 수정
  custom.d.ts
  package.json
  src/components/Post/PostButton.tsx
  src/utils/native.ts
  src/utils/utils.ts
Labels: refactor ⚙️

#63 [홈 화면] 홈 리디자인 및 모바일 뷰
  public/svg/icon_feed.svg
  public/svg/icon_home.svg
  public/svg/icon_posting.svg
  public/svg/img_guide.svg
  public/svg/img_my_store.svg
  public/svg/img_sodong.svg
  src/App.tsx
  src/assets/svg/IconFeed.tsx
  src/assets/svg/IconHome.tsx
  src/assets/svg/IconPosting.tsx
  src/assets/svg/ImgGuide.tsx
  src/assets/svg/ImgMyStore.tsx
  src/assets/svg/ImgSodong.tsx
  src/assets/svg/index.ts
  src/components/Home/HomeSubsection/HomeSubsection.tsx
  src/components/Home/HomeTitle/HomeTitle.tsx
  src/components/PostNew/PostHeader/PostNewHeader.tsx
  src/components/PostNew/Step1/Step1.tsx
  src/components/PostNew/Step1/Step1Title/Step1Title.tsx
  src/components/PostNew/Step2/PostTitle/PostTitle.tsx
  src/components/PostNew/Step3/Step3.tsx
  src/components/PostNew/Step4/Step4.tsx
  src/components/PostNew/Step5/Step5.tsx
  src/components/PostNew/Step5/Tip/Tip.tsx
  src/components/PostNew/Step6/Step6.tsx
  src/components/common/BottomNav.tsx
  src/components/common/Card/CommonCard.tsx
  src/components/common/Container/PageContainer.tsx
  src/components/common/Title/Title.tsx
  src/core/Post.ts
  src/hooks/useMobile.tsx
  src/index.css
  src/layouts/BottomLayout.tsx
  src/pages/Feed/FeedPage.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/HomePage.tsx
  src/pages/PostHistory/PostHistoryPage.tsx
  src/pages/PostNew/PostNewPage.tsx
  src/router/Router.tsx
  src/style/theme.ts
  src/types/.keep
Labels: feat💡, style 🎨

#66 [피드] 피드 UI 및 헤더 구성
  public/svg/ic_feed01.svg
  public/svg/ic_home01.svg
  public/svg/ic_posting01.svg
  public/svg/ic_posting02.svg
  public/svg/icon_arrow.svg
  public/svg/icon_feed_fill.svg
  public/svg/icon_home_fill.svg
  public/svg/icon_lock.svg
  public/svg/icon_posting_bottom.svg
  public/svg/icon_posting_fill.svg
  src/assets/.keep
  src/assets/Image/trend1.png
  src/assets/Image/trend2.png
  src/assets/Image/trend3.png
  src/assets/Image/trend4.png
  src/assets/svg/IcFeed01.tsx
  src/assets/svg/IcHome01.tsx
  src/assets/svg/IcPosting01.tsx
  src/assets/svg/IcPosting02.tsx
  src/assets/svg/IconArrow.tsx
  src/assets/svg/IconFeed.tsx
  src/assets/svg/IconHome.tsx
  src/assets/svg/IconLock.tsx
  src/assets/svg/IconPosting.tsx
  src/assets/svg/IconPostingBottom.tsx
  src/assets/svg/index.ts
  src/components/PostHistory/TextCardWithImage.tsx
  src/components/common/BottomNav.tsx
  src/components/common/Card/CommonCard.tsx
  src/components/common/Card/RelatedPosts.tsx
  src/components/common/Header/HeaderCommon.tsx
  src/components/common/Title/SubTitle.tsx
  src/core/Post.ts
  src/pages/Feed/FeedPage.tsx
  src/pages/Home/HomePage.tsx
  src/pages/PostDetail/PostDetailPage.tsx
  src/pages/PostHistory/PostHistoryPage.tsx
  src/style/GlobalStyle.ts
  src/style/theme.ts
Labels: refactor ⚙️, style 🎨

#68 [포스트 생성] AI 추천 키워드 로직 추가
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  src/apis/gptClient.ts
  src/components/PostNew/PostHeader/PostNewHeader2.tsx
  src/components/PostNew/Step5/Keywords/Keywords.tsx
  src/components/PostNew/Step5/Step5.tsx
  src/components/PostNew/Step5/Tip/KeywordsTip.tsx
  src/components/PostNew/Step6/Step6.tsx
  src/components/common/Loading/Loading.tsx
  src/components/common/Loading/Progress.tsx
  src/context/PostNew/PostNewContext.tsx
  src/hooks/mutations/gpt/usePostChatGPT.ts
  src/hooks/queries/post/useGetHistory.ts
  src/hooks/queries/store/useGetStore.ts
  src/pages/Login/Login.tsx
  src/pages/PostDetail/PostDetailPage.tsx
  src/pages/PostHistory/PostHistoryPage.tsx
  src/pages/PostNew/PostNewPage.tsx
  src/pages/PostResult/PostResultPage.tsx
  src/pages/StoreNew/StoreNewPage.tsx
  src/style/theme.ts
  src/types/PostNew/index.d.ts
Labels: feat💡

#69 [포스트 생성] step 순서 및 sns option 순서 변경
  public/svg/icon_event_emoji.svg
  public/svg/icon_menu_emoji.svg
  src/assets/svg/IconEventEmoji.tsx
  src/assets/svg/IconMenuEmoji.tsx
  src/assets/svg/index.ts
  src/components/PostNew/SelectSns/SelectSns.tsx
  src/components/PostNew/SelectSns/SelectSnsTitle.tsx
  src/components/PostNew/SelectTarget/PostTitle.tsx
  src/components/PostNew/SelectTarget/SelectAge.tsx
  src/components/PostNew/SelectTarget/SelectGender.tsx
  src/components/PostNew/SelectTarget/SelectTarget.tsx
  src/components/PostNew/SelectType/SelectType.tsx
  src/components/PostNew/SelectType/SelectTypeOptions.tsx
  src/components/PostNew/Step4/Step4.tsx
  src/components/PostNew/Step5/Step5.tsx
  src/pages/Feed/FeedPage.tsx
  src/pages/Home/HomePage.tsx
  src/pages/PostNew/PostNewPage.tsx
  src/style/theme.ts
Labels: feat💡, refactor ⚙️, style 🎨
